.twin-container{
    display: flex;
    width: 100%;
}
.product-container{
    width: 70%;
}
.cart-container{
    width: 30%;
    margin-left: 20px;
    margin-right: 5px;
    border: 1px solid lightgray;
    padding-left: 20px;
}